In [1]:
import pandas as pd
import numpy as np
import torch
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from numba import jit
from multiprocessing import Pool

torch.cuda.is_available()

In [2]:
model = SentenceTransformer('jhgan/ko-sroberta-multitask', device='cuda:0')

In [20]:
df = pd.read_csv('./data/dataset.csv') # Q, A, label(0: 의문문, 1: 평서문, 2: 명령문)

df.head()

       Q       A
0   여보세요    어 그래
1   여보세요    여보세요
2   여보세요     어 왜
3   여보세요     어디야
4  가고 있어  어디 쯤인데

In [21]:
df['embedding'] = df.Q.map(lambda x: list(model.encode(x)))

df.head()

       Q       A                                          embedding
0   여보세요    어 그래  [0.13119733, -0.61521536, 0.47910497, -0.91031...
1   여보세요    여보세요  [0.13119733, -0.61521536, 0.47910497, -0.91031...
2   여보세요     어 왜  [0.13119733, -0.61521536, 0.47910497, -0.91031...
3   여보세요     어디야  [0.13119733, -0.61521536, 0.47910497, -0.91031...
4  가고 있어  어디 쯤인데  [-0.47705302, -0.17624724, 0.2527341, -0.62782...

In [6]:
# text = '집 근처 편의점이야'

# embedding = model.encode(text)

In [7]:
# df['distance'] = df['embedding'].map(lambda x: cosine_similarity([embedding], [x]).squeeze())

# df.head()

In [8]:
# import random


# result = df[df.distance == df.distance.max()]
# selected_idx = random.randint(0, result.shape[0] - 1)
# answer = result.iloc[selected_idx]

# print(answer)

In [9]:
# answer['A']

In [12]:
from gtts import gTTS
import playsound
import os
import random

In [24]:
while True:
    user = input('input: ')
    
    if user == 's':
        break
    
    embedding = model.encode(user)
    df['distance'] = df['embedding'].map(lambda x: cosine_similarity([embedding], [x]).squeeze())
    
    result = df[df.distance == df.distance.max()]
    
    if result.shape[0] != 0:
        selected_idx = random.randint(0, result.shape[0] - 1)
        answer = result.iloc[selected_idx]
        print(answer['A'])
        tts = gTTS(text=answer['A'], lang='ko')
        tts.save('./voice.mp3')
        playsound.playsound('./voice.mp3')
        os.remove('./voice.mp3')

어 재밌네